<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-flip="false" aria-haspopup="true">Manage Recipe</button>
      <ul class="dropdown-menu" appDropdown>
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;" class="dropdown-item">Add ingredients to shopping list</a></li>
        <li><a href="#" class="dropdown-item">Edit Recipe</a></li>
        <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">{{recipe.description}}</div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} ({{ingredient.amount}})</li>
    </ul>
  </div>
</div>
